.news-section{
    margin-top: 3em;
    overflow: hidden;
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

}

#newsHead {
    margin-top: 1em;
}

#cardID {
    height: 33vh;
    width: 75vw;
    overflow-y: scroll;
    border: 1px solid #b70a01;
    text-align: center;
    /* box-sizing: border-box; */
    margin-bottom: 1em;
}

#cardIDD {
    height: 62vh;
    width: 75vw;
    overflow-y: scroll;
    border: 1px solid #b70a01;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 1em;
}


.newsButton {

    margin-top: 3em;
    width: 5em;
    box-shadow: 2px;
    justify-content: space-evenly;
    font: bold;

}
.mng-link {
    background-color: rgb(54, 79, 100);
    width: 6em;
    height: 2.5em;
}
